.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.moshaverin-kol {
  width: 278px;
  height: 350px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.tik-p {
  color: #292d32;
  text-align: right;
  font-family: IRANYekanFN;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.727%;
}
.moshaverin-tik {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.right-tik {
  display: flex;
  gap: 17px;
  align-items: center;
}
.tehran {
  color: #515b67;
  text-align: right;
  font-family: IRANYekanFN;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.727%; /* 29.222px */
}
.moshaverin-loc {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}
.profile {
  display: flex;
  padding: 7px 73px 8px 73px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #023047;
  border: none;
  color: #faf4f4;
  text-align: right;
  font-family: IRANYekanFN;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 208.727%; /* 33.396px */
}
.moshaverin-pic {
  border-radius: 16px 16px 0px 0px;
}
.moshaverin-mid {
  display: flex;
  flex-direction: column;
}
.moshaverin-bottom {
  display: flex;
}
.stars{
    margin-right: 70px;
    direction: ltr;
}