.forush_container {
  width: 1180px;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forush_kol_filter {
  width: 1180px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.forush_kol {
  width: 1180px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.forush_kol_link {
  text-decoration: none;
  color: black;
}

.forush_kol_filter_item {
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid #219ebc 1px;
  border-radius: 8px;
  color: #292d32;
}
.forush_kol_filter_item_search_content {
  width: 594px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forush_kol_filter_item_search {
  width: 594px;
  position: absolute;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid #219ebc 1px;
  border-radius: 8px;
  color: #292d32;
  padding: 10px;
  padding-right: 60px;
}

.forush_kol_filter_item_search_icon {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bi-orange);
  color: white;
  border-radius: 8px;
  right: 8px;
}

.forush_box {
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background: #faf4f4;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.forush_texts {
  display: flex;
}

.forush_texts_content {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0px;
}

.forush_texts p {
  margin-bottom: 0;
  margin-left: 5px;
  color: #292d32;
  font-size: 18px;
  font-weight: 400;
}
.forush_loc {
  display: flex;
  align-items: center;
}
.forush_loc p {
  color: #636363;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.forush_price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forush_price p {
  color: #292d32;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.forush_price_kol {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forush_icons {
  width: 64px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  border: 0.25px solid rgb(159, 155, 155);
  border-radius: 20px;
  justify-content: space-around;
  color: black;
}
.forush_price_down {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forush_price_each {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.forush_price_each p {
  color: #292d32;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

.forush_mahal {
  display: flex;
  justify-content: space-around;
}
.forush_city {
  width: 50px;
  height: 25px;
  background-color: #eee;
  border-radius: 20px;
  color: #585858;
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.forush_street {
  min-width: 50px;
  max-width: fit-content;
  height: 25px;
  background-color: #eee;
  border-radius: 20px;
  color: #585858;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.forush_map {
  width: 330px;
  height: 380px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
}
.forush_pagination {
  margin-top: 20px;
  direction: ltr;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: white;
  color: var(--bi-navy);
  border: solid 1px var(--bi-navy);
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--bi-navy);
  color: white;
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: white;
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background-color: white;
  color: var(--bi-navy);
}

.forush_detail_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* responsive */
@media screen and (max-width: 600px) {
  .forush_container {
    width: 100%;
  }
  .forush_kol_filter {
    width: 90%;
  }
  .forush_kol_filter_item {
    display: none;
  }
  .forush_kol_filter_item_search_content {
    width: 100%;
  }
  .forush_kol_filter_item_search{
    width: 100%;
  }
  .forush_kol{
    width: 100%;
    justify-content: center;
  }

}
