.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  justify-content: space-around;
}
.error_left_side {
  display: flex;
  align-items: center;
  /* margin-left: 100px; */
}
/* .eror_img {
  margin-right: 300px;
} */
.error_rightside {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.error_rightside h1 {
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  font-size: 250px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(
    180deg,
    #023047 0%,
    rgba(2, 48, 71, 0.8) 47.92%,
    rgba(251, 133, 0, 0.3) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error_rightside p {
  color: #292d32;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}
.error_rightside button {
  display: flex;
  width: 188px;
  height: 55px;
  /* justify-content: center; */
  align-items: center;
  border-radius: 8px;
  background: #fb8500;
  border: none;
  /* margin-top: 20px; */
  color: white;
  font-size: 16px;
}
