.navbar_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 100;
}
.navbar_container_content {
  width: 1440px;
  height: 72px;
  background-color: #023047;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.navbar_contant {
  width: 1180px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  margin: 10px 0px;
}

.navbar_right_side {
  width: 540px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_right_side_logo {
  margin-left: 30px;
}

.navbar_btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
}

.navbar_right_side_group {
  display: flex;
  align-items: center;
}

.navbar_right_side_group p {
  margin-left: 10px;
}

.navbar_left_side {
  width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_left_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
}

.navbar_link {
  color: white;
  text-decoration: none;
}

.navbar_left_side hr {
  height: 42px;
  border: #1e4d65 1px solid;
}

.navbar_left_add {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 24px;
}
.navbar_left_add p {
  width: 96px;
}
.navbar_left_user {
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
}

.navbar_left_user_text {
  width: 96px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_category {
  z-index: 1;
  width: 1440px;
  display: flex;
}
.navbar_category p {
  color: var(--bi-navy);
}

/* For mobile phones: */
@media screen and (max-device-width: 600px) {
  
  .navbar_container{width: 100%;}
 .navbar_container_content{display: none;}
  .navbar_maindiv{transform: scale(1);}
}
