.navbar_container {
  width: 1440px;
  height: 72px;
  background-color: #023047;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar_contant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
}

.navbar_right_side {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_btn {
  background-color: transparent;
  color: white;
  border: none;
}

.navbar_right_side_group {
  display: flex;
  align-items: center;
}

.navbar_right_side_group p {
  margin-left: 10px;
}

.navbar_left_side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_left_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_link {
  color: white;
  text-decoration: none;
}

.navbar_left_side hr {
  width: 2px;
  height: 42px;
  background-color: #1e4d65;
  border: none;
}

.navbar_left_add {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_left_user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin-left: 200px;
}

.navbar_left_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_category p {
  color: var(--bi-navy);
}
