.submitinfo_container {
  height: 449px;
  overflow-y: scroll;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitinfo_content {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submitinfo_upside {
  padding: 15px 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.submitinfo_upside input {
  margin-top: 15px;
  border-radius: 8px;
  border: 0.5px solid #585858;
  height: 48px;
  padding: 10px;
}

.submitinfo_mid_things p {
  margin: 15px 0;
}

.submitinfo_mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.submitinfo_mid input {
  border-radius: 8px;
  border: 0.5px solid #585858;
  height: 48px;
  padding: 10px;
}
.submitinfo_bottom input {
  border-radius: 8px;
  border: 0.5px solid #585858;
  height: 116px;
  margin-top: 15px;
}
.submitinfo_btn {
  height: 44px;
  color: #fff;
  border-radius: 8px;
  background: #023047;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0px;
  border: none;
}
.submitinfo_map {
  margin-top: 40px;
  border-radius: 8px;
}
.submitinfo_map_texts {
  display: flex;
  justify-content: space-between;
}
.submitinfo_map_texts p {
  color: #000;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.submitinfo_map_pics {
  width: 440px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submitinfo_map_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}
.submitinfo_map_pics input {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dashed black;
  border-radius: 20px;
  position: absolute;
  right: 25%;
  bottom: 20%;
}
input[type="file"]::file-selector-button {
  visibility: hidden;
}
.submitinfo_map_pics div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.submitinfo_imgbg {
  background-color: white;
}
.submitinfo_dropdowns {
  border-radius: 8px;
  border: 0.5px solid #585858;
  height: 48px;
  padding: 10px;
  color: #585858;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitinfo_map_pics_div {
  display: flex;
  justify-content: space-between;
}
