.UserAccount_container {
  height: 449px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
}
.UserAccount_content {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.UserAccount_inside {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.UserAccount_profile {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.UserAccount_rightside_inputs {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.UserAccount_rightside_inputs input {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid #585858;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  padding-right: 10px;
}
.UserAccount_rightside_inputs p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.UserAccount_leftside_inputs {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UserAccount_leftside_inputs input {
  width:90%;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid #585858;
  color: #929292;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-right: 10px;
}
.UserAccount_leftside_inputs p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
