
.userPage_header {
  display: flex;
  justify-content: space-around;

}
.userPage_header_leftside {
  display: flex;
  align-items: center;
  direction: ltr;
  justify-content: space-between;
  width: 200px;
  margin-right: 500px;
  

}
.userPage_header_leftside p {
  color: #292d32;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  right: 5%;
}
.userpage_header_hr {
  height: 42px;
  width: 0px;
  background: rgba(30, 77, 101, 0.2);
}
.userPage_header_rightside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;

}
