.userpagebox_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  width: 300px;
  height: 503px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.userpagebox_button_col {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
}
.userpagebox_button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  right: 5%;
  background-color: white;
  border: none;
}
hr {
  width: 245px;
  height: 0px;
}
.userpagebox_button_col:hover {
  color: #fb8500;
}
.userpagebox_button_col:hover .userpagebox_button {
  color: #fb8500;
}
