.userpage_container {
  height: 100%;
  background: #023047;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userpage_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.userpagebox_box {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.userpagebox_link_col {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
}
.userpagebox_button {
  background: transparent;
  border: none;
  font-size: medium;
  align-items: center;
  gap: 8px;
  position: relative;
  right: 5%;
}
hr {
  background-color: rgb(223, 223, 223);
  width: 245px;
  height: 2px;
  border: none;
}

.userpagebox_link_col:hover .userpagebox_button {
  color: #fb8500;
}
