.vertificationCode_container {
  width: 1440px;
  height: 804px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertificationCode_right_side {
  width: 640px;
  height: 804px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertificationCode_right_content {
  width: 353px;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertificationCode_right_inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vertificationCode_right_inputs input {
  text-align: center;
  width: 82px;
  height: 56px;
  border-radius: 8px;
  border: 1px #cbcbcb solid;
}

.vertificationCode_right_side p {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
  display: flex;
}

.vertificationCode_btn {
  height: 56px;
  background: var(--bi-navy);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
}

.vertificationCode_left_side {
  width: 800px;
  height: 804px;
  background-image: url("../public/image/vertified-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.css-1hdyuqk-MuiPaper-root-MuiAlert-root {
  direction: ltr;
}
