.vertificationCode_container {
  width: 1440px;
  height: 804px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertificationCode_right_side {
  width: 640px;
  height: 804px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertificationCode_right_content {
  width: 353px;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertificationCode_right_inputs {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertificationCode_right_inputs input {
  width: 82px;
  height: 56px;
  text-align: center;
  border-radius: 8px;
  border: 1px #cbcbcb solid;
}

.vertificationCode_right_side p {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
  display: flex;
}

.vertificationCode_btn {
  width: 100%;
  height: 56px;
  background: var(--bi-navy);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
}

.vertificationCode_left_side {
  width: 800px;
  height: 804px;
  background-image: url("../public/image/vertified-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.css-1hdyuqk-MuiPaper-root-MuiAlert-root {
  direction: ltr;
}

@media screen and (max-width: 600px) {
  .vertificationCode_container {
    width: 100%;
    height: 500px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .vertificationCode_right_side {
    width: 80%;
    height: 35%;
  }
  .vertificationCode_right_content {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .vertificationCode_left_side {
    width:90%;
    height: 50%;
    border-radius: 10px;
    margin-top: 30px;
  }
  .vertificationCode_right_inputs input {
    width: 46px;
    height: 46px;
  }
  .vertificationCode_btn {
    height: 46px;
  }
}
